*{
    font-family: 'DM Sans', sans-serif;
    box-sizing: border-box
}

body {
    background: #EEEBD3;
    font-size: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100svh;
}

#container {
    width: 100%;
    max-width: 395px;
    height: 852px;
    display: flex;
    flex-direction: column;
    border: 1px solid #CDAC6E;
    border-radius: 25px;
    padding: 35px 37px;
}

#header-title {
    display: flex;
    justify-content: space-between;
}

#logo {
    color: #a98743;
    font-weight: 700;
    font-size: 2rem;
}

#logo::after {
    content: '!';
    display: inline-block;
    margin-left: 3px;
    transform: rotate(15deg);
}

#logo-subtitle {
    color:#a98743;
    font-weight: 700;
    flex-grow: 2;
    margin: 10px auto 10px 10px;
}

#profile-avatar {
    background: url('./images/Avatar.png');
    width: 45px;
    height: 45px;
}

#welcome-message {
    color: #07090F;
    font-weight: 700;
    font-size: 1.25rem;
    position: relative;
}

#welcome-message::after {
    content: url('./images/Sun\ Icon.png');
    width: 30px;
    height: 30px;
    position: absolute;
    margin-left: 8px;
    margin-top: -5px;
}