*{
    font-family: 'DM Sans', sans-serif;
    box-sizing: border-box
}

body {
    background: #EEEBD3;
    font-size: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100svh;
    max-width: 395px;
    margin: 0 auto;
}

#container {
    width: 100%;
    max-width: 395px;
    height: 852px;
    display: flex;
    flex-direction: column;
    border: 1px solid #CDAC6E;
    border-radius: 25px;
    padding: 43px 37px;
}

#header-title {
    display: flex;
    justify-content: space-between;
}

.section-title {
    color: #a98743;
    margin: 10px 0;
}

#logo {
    color: #a98743;
    font-weight: 700;
    font-size: 2rem;
}

#logo::after {
    content: '!';
    display: inline-block;
    margin-left: 3px;
    transform: rotate(15deg);
}

#logo-subtitle {
    color:#a98743;
    font-weight: 700;
    flex-grow: 2;
    margin: 10px auto 10px 10px;
}

#profile-avatar {
    background: url('./images/avatar.png');
    width: 45px;
    height: 45px;
}

#welcome-message {
    color: #07090F;
    font-weight: 700;
    font-size: 1.25rem;
    position: relative;
}

#welcome-message::after {
    content: url('./images/sun-icon.png');
    width: 30px;
    height: 30px;
    position: absolute;
    margin-left: 8px;
    margin-top: -5px;
}

#member-card {
    background: url('./images/member-card.png') center center no-repeat;
    background-size: contain;
    width: 318px;
    height: 174px;
    margin-top: 24px;
    position: relative;
}

#member-card > p {
    color:#EEEBD3;
    font-size: .73rem;
    position: absolute;
    top: -2px;
    left: 15px;
}

#card-logo {
    color: #EEEBD3;
    font-weight: 700;
    font-size: 1.25rem;
    position: absolute;
    bottom: 10px;
    left: 15px;
}

#card-logo::after {
    content: '!';
    display: inline-block;
    margin-left: 3px;
    transform: rotate(15deg);
}

#card-balance {
    font-weight: 500;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
}

#current-card-balance {
    color: #a98743;
}

.btn {
    background: #CDAC6A;
    color: #EEEBD3;
    text-align: center;
    border-radius: 50px;
    padding-top: 6px;
    width: 120px;
    height: 35px;
}

.btn-active {
    background-color: #5081C9;
}

.btn-disabled {
    background: #DDD9B6;
    color: #BFBA8F;
}

#category-btns {
    display: flex;
    position: absolute;
    max-width: 356px /*max-width (395px - padding 37px - 1px for border)*/;
    overflow: hidden;
}

#category-btns > .btn {
    margin-right: 15px;    
    flex-shrink: 0;
}

#menu-section {
    margin-top: 40px;
}

#menu-cards {
    display: flex;
    justify-content: space-between;
}

.item-card {
    background-image: url('./images/circle-gradient.png');
    background-color: #DEDABC;
    width: 150px;
    max-width: 150px;
    height: 180px;
    max-height: 180px;
    border-radius: 15px;
    padding: 10px;
    position: relative;
}

.item-card-text {
    color: #EEEBD3;
    font-size: .75rem;
}

#item-fav {
    position: absolute;
    right: 10px;
    top: 10px;
}

#item-name {
    margin-top: 120px;
}

#item-image {
    background: url('./images/pink-sprinkle.png') no-repeat center center;
    background-size: cover;
    width: 105px;
    height: 105px;
    left: 0;
    right: 0;
    top: 25px;
    margin: auto;
    position: absolute;
}

#add-item {
    position: absolute;
    right: 10px;
    bottom: 5px;
}

#cart-section {
    display: flex;
    font-weight: 700;
    justify-content: space-between;
    margin-top: 70px;
}

.cart-btn {
    font-size: 1.25rem;
    width: 220px;
    height: 50px;
    padding-top: 12px;
}

#total-price {
    font-size: 1.25rem;
    color: #A98743;
}